<html >
    <head>
        <title>ralouekapoor.com</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="shortcut icon" href="">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="js/anime-master/lib/anime.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <script>
            $(document).on("click","#ani",function(e){
            e.preventDefault();
            var id = $(this).attr("href"),
            topSpace = 30;
            $('html, body').animate({
            scrollTop: $(id).offset().top - topSpace
            }, 800);
        });
        </script>
        <style>

            html{
                overflow-x: hidden;
            }

            body{
                font-family: 'Alegreya Sans SC', sans-serif;
            }

        .hideme{
            opacity: 0.3;
        }



        #datee{
            color:00695c;
            font-size: 30px
        }
        
        img:hover{
            filter:none
        }

        .fa{
            font-size: 100px;
            padding: 30px
        }

        .fa-facebook {
        color: black;
        }

        .fa-instagram {
        color: black;
        }

          .fa-github {
        color: black;
        }

        .fa-linkedin {
        color: black;
        }

        .fa-medium {
        color: black;
        }

        nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}



@media screen and (min-width: 450px){
.typewriter {
    position: absolute;
    top: 13%;
    left: 41%;
    font-size: 40px;
    color: white;
    overflow: hidden;
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: 0.006em; 
    animation: 
    typing 3.0s steps(30, end),
    blink-caret .5s step-end infinite;
}
}



@media screen and (max-width: 449px){
.typewriter {
    position: absolute;
    top: 23%;
    left: 35%;
    font-size: 18px;
    letter-spacing: 0.1px;
    color: white;
    overflow: hidden;
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: 0.006em; 
    animation: 
    typing 3.0s steps(30, end),
    blink-caret .5s step-end infinite;
}}

@media screen and (max-width: 449px){
@keyframes typing {
  from { width: 10 }
  to { width: 30% }
}
}

@media screen and (min-width: 450px){
@keyframes typing {
  from { width: 10 }
  to { width: 18% }
}
}




@keyframes blink-caret {
  from, to { border-color: transparent }
  20% { border-color: orange }
}

img{

 border: 8px solid #37474f;
  border-radius: 4px;
}

.anim, .anim svg {
  position: relative;
  width: 100%;
  height: 100%;
}
.anim path {
  stroke-width: 2;
}

h1{
    color: #37474f;
}



@media screen and (min-width: 450px){
#comp{
    border: none;
    width: 80%;
    height: 500;
    position: absolute;
    left: 12%;
}
}

@media screen and (max-width: 449px){
#comp{
    position: absolute;
    left: 2%;
    border: none;
    width: 100%;
    height: 300;
}
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 449px){
.startbac{
    width: 100%;
    height: 300;
    background-color: #37474f;
    position: relative;
}
}

@media screen and (min-width: 450px){
.startbac{
    width: 100%;
    height: 650;
    background-color: #37474f;
    position: relative;
}
}

@media screen and (min-width: 450px){
.capp{
    width: 400;
    height: 400;
}
}

@media screen and (max-width: 449px){
.capp{
    width: 100%;
    height: 300;
}
}

@media screen and (max-width: 449px){
.fa-chess-pawn{
    visibility: hidden;
}
}

@media screen and (min-width: 450px){
.fa-chess-pawn{
    visibility: visible;
}
}

a{
    outline: none;
}




    </style>
    
    </head>
    <body style="background-color: #ebebeb">

            <nav class="nav-center" style="background-color: #37474f" role="navigation">
                    <div class="nav-wrapper container">
                        <ul >
                            <li><a id="ani" href="#myjourney">My Journey</a></li>
                            <li><a id="ani" href="#blogs">Blogs</a></li>
                            <li><a id="ani" href="#connect">Connect</a></li>
                            <li><a target="_blank" href="https://drive.google.com/drive/u/0/folders/1OdAi8c_iOlbf9KXbxFNDh41Y49ntBI5n">Resume</a></li>
                        </ul>
                    </div>
                </nav>
        
            <div class="startbac">
                <img class="center" id="comp" src="img/start.png">
                <div class="typewriter">
                    <div>Hey, I'm Raloue</div>
                </div>
            </div>
        
        <div class="container">
            <h1 style="text-align: center" id="myjourney">
                My Journey
            </h1>
            <br>
            <br>

            
            <div class="row">
            <div class="center">
            <div class="col s12 l6"><img class="capp" src="img/res.png"></div>
            </div>
            <div class="center">
            <div class="col s12 l6">
                <h4>Research Paper Published</h4>
                <h6 id="datee">Apr 2020</h6>
                <div>Publication date - 22/04/2020</div>
                <div>Publication Journal - International Journal of Advanced Science and Technology</div>
                <div>Title - Optimizing Model and Feature Selection using Evolutionary Swarm Intelligence for Image Classification</div>
                <div><a target="_blank" href="http://sersc.org/journals/index.php/IJAST/article/view/10972">View Paper</a></div>
                <div>Scopus indexed? Yes</div>
                <div>Worked on improving the accuracy of a Convolutional Neural Network by first selecting the right architecture using ant
                        colony optimization and then applying feature extraction on the resultant architecture using particle swarm
                        optimization. The dataset used was cifar10 and the following method yielded good results.</div>
                
            </div>
            </div>
            
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

            <div class="row" >
            <div class="center">
            <div class="col s12 l6"><img class="capp"  src="img/technofarm3.jpeg"></div>
            </div>
            <div class="center">
            <div class="col s12 l6">
                <h4>Technofarm AI Project</h4>
                <h6 id="datee">Jan 2019 - Oct 2019</h6>
                <div>Worked on a bot that was like a tractor. We had used Tensorflow for Image Analysis of crops and sensors for
                        collecting various data for ML models. </div>
                        <div>Sensors were placed on the tractor.</div>
                <div>The sensors passed the information to the server and the server computed various things.</div>
                <div>The output of the server was visible on mobile.</div>
                    </div>
            </div>
            </div>
        
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
            <div class="center">
            <div class="col s12 l6"><img class="capp" src="img/club.jpeg"></div>
            </div>
            <div class="center">
            <div class="col s12 l6">
                <h4 id="ani">Becoming Founder and President at MIT Chess Club</h4>
                <h6 id="datee">Aug 2019</h6>
                <div>
                    Founded my own club in the college to promote the chess culture.
                </div>
                <div>
                    Organized the biggest chess competition in the college.
                </div>
                <div>Organized various workshops which helped students become better at chess.</div>
                <div>We as a club truly believe in providing the best chess knowledge to the college students.</div>
            </div>
            </div>
            </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
            <div class="center">
            <div class="col s12 l6"><img class="capp" src="img/netcore.jpeg"></div>
            </div>
            <div class="center">
            <div class="col s12 l6">
                <h4>Data Analyst Internship</h4>
                <h6 id="datee">June 2019 - July 2019</h6>
                <div>Developed analysis for a UAE based company by analyzing customer behaviour on their website which helped
                        the client to send planned marketing campaigns to its customers.</div>
                <div>
                        Prepared segments of customers based on their web behaviour and also found out solutions for the inactive
                        customer base which led to an increase on their website.
                </div>
                <div>
                        Built Python algorithms which helped in finding correlations between metrics at a very fast rate thus saving
                        manual work which was previously done in the company.
                </div>
            
                    </div>
            </div>
            </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
            <div class="center">
            <div class="col s12 l6"><img class="capp" src="img/codefundo-1.jpg"></div>
            </div>
            <div class="center">
            <div class="col s12 l6">
                <h4>Codefundo++</h4>
                <h6 id="datee">Oct 2018 - Nov 2018</h6>
                <div>
                        Developed a Django website that predicted flood in 3 cities before its occurrence with about 93% accuracy using
                        Neural Networks. 
                </div>
                <div>
                        The website also found the shortest route to the nearest NGO in case of a flood using path planning
                        algorithms.
                </div>
            </div>
            </div>
            </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
            <div class="center">
            <div class="col s12 l6"><img class="capp" src="img/algobed.jpg"></div>
            </div>
            <div class="center">
            <div class="col s12 l6">
                <h4>Algobed-(Computer Vision Project)</h4>
                <h6 id="datee">Jan 2018 - Oct 2018</h6>
                <div>
                        The project was made to replicate a self-driving car. We used an overhead camera which took the image of the map and we found the obstacles in the map as we applied image processing on it. We got the location of all the obstacles in the map. The location of the obstacles was then fed to the A* algorithm so that it could find the shortest path from point A to point B. The bot then moved from A to B. This project also made use of pyserial and Arduino. The applications of this can be in the military or it can be used as self-driving cars for other people.
                </div>
            </div>
            </div>
            </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
            <div class="center">
            <div class="col s12 l6"><img class="capp" src="img/meetcs.png"></div>
            </div>
            <div class="center">
            <div class="col s12 l6">
                <h4>Jr. Product Developer Internship</h4>
                <h6 id="datee">May 2018 - July 2018</h6>
                <div>Single-handedly integrated a chatbot to the company’s hrms website using nodejs express framework and
                        google chatbot API. This improved employees' interaction with the website significantly.</div>
                <div>
                        Taught myself cloud computing and deployed chatbot on the cloud for their website using digital ocean. Made a
                        proxy server on top of apache for nodejs and got it running.
                </div>
                <div>
                        Learned Django and built the login and registration modules of an auction website for the client.
                </div>
                    </div>
            </div>
            </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
            <div class="center">
            <div class="col s12 l6"><img class="capp" src="img/manipal.jpg"></div>
            </div>
            <div class="center">
            <div class="col s12 l6">
                <h4>Joined MIT Manipal</h4>
                <h6 id="datee">July 2017</h6>
                <div>Started my Undergraduate Degree at MIT Manipal</div>
                <div>Batch - 2017-2021</div>
                <div>Degree - BTECH-Information Technology</div>
                <div>Currently in my 3rd year of engineering.</div>
            </div>
            </div>
            </div>

            <br>
            <br>

            <h1 style="text-align: center">
                Sportsman Inside Me
            </h1>
            <div style="text-align: center">
                <i class="fas fa-chess-king" style="font-size: 64px"></i>
                &ensp;
                <i class="fas fa-chess-queen" style="font-size: 64px"></i>
                &ensp;
                <i class="fas fa-chess-bishop" style="font-size: 64px"></i>
                &ensp;
                <i class="fas fa-chess-knight" style="font-size: 64px"></i>
                &ensp;
                <i class="fas fa-chess-rook" style="font-size: 64px"></i>
            </div>
        <div style="text-align: center">
            <h6>
                I have always believed that playing a sport is very important for your overall development
            </h6>
            <h6>
                Playing chess especially can make your brain a lot sharper
            </h6>
            <h6>
                I have been playing this game for 10+ years
            </h6>
            <h6>
                Here are a few of my achievements
            </h6>
            <h6 style="padding:40px;border:2px solid;border-color: black #ebebeb black #ebebeb;margin: 40px">
                <div>Lead a lot of teams to victory as a captain</div>
                <div>Won a lot of school championships</div>
                <div>Ranked 7th in the state</div>
                <div>Was featured in a lot of newspapers and TV channels</div>
                <div>Played 2 International Competitions</div>
                <div>Played 10+ National Competitions</div>
            </h6>
        </div>

            <br>
            <br>

            <h1 style="text-align: center" id="blogs">
                Blogs
            </h1>

            <div class="row">
                <div class="center">
                    <div class="col s12 l4">
                      <div class="card">
                        <div class="card-image">
                          <img height="220" src="img/1.jpeg">
                        </div>
                        <div class="card-content"  style="height: 75">
                          How I wrote my first Paper
                        </div>
                        <div class="card-action">
                          <a target="_blank" style="padding-left: 25px;" href="https://medium.com/datadriveninvestor/how-i-published-my-1st-deep-learning-research-paper-34a05f1b8fa8">Read story</a>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="center">
                    <div class="col s12 l4">
                            <div class="card">
                              <div class="card-image">
                                <img height="220" src="img/2.jpeg">
                              </div>
                              <div class="card-content"  style="height: 75">
                                <div>Image Source - <a target="_blank" href="https://ideas.ted.com/opinion-data-isnt-the-new-oil-its-the-new-nuclear-power/">ideas.ted.com</a></div>
                                <div>Era of Data</div>
                              </div>
                              <div class="card-action">
                                <a target="_blank" style="padding-left: 25px" href="https://medium.com/datadriveninvestor/the-era-of-data-d6e7238f6284">Read story</a>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="center">
                          <div class="col s12 l4">
                                <div class="card">
                                  <div class="card-image">
                                    <img height="220" src="img/3.jpeg">
                                  </div>
                                  <div class="card-content" style="height: 75">
                                    <div>Image Source - Google Images</div>
                                    <div>ML for non Programmers</div>
                                  </div>
                                  <div class="card-action">
                                    <a target="_blank" style="padding-left: 25px" href="https://medium.com/@ralovekapoor/machine-learning-for-non-programmers-d5f04abc23cc">Read story</a>
                                  </div>
                                </div>
                              </div>

                            </div>
                  </div>
             
                  <h4 style="text-align: center">
                        <a target="_blank" href="https://medium.com/@ralovekapoor"><i>Check out more amazing stories by clicking here</i></a>
                  </h4>

                  <br>
                  <br>
                  <br>
                  <br>
                  <h1 style="text-align: center" id="connect">
                    Connect With Me
                  </h1>

                  <h4 style="text-align: center">
                    You can mail to me at <span style="text-transform: lowercase;">ralouekapoor@gmail.com</span>
                  </h4>
                  
                  <h4 style="text-align: center">
                    or you can reach out to me here
                  </h4>

                  <div class="center">
                        <a target="_blank" href="https://medium.com/@ralovekapoor" class="fa fa-medium"></a>
                        <a target="_blank" href="https://www.linkedin.com/in/raloue/" class="fa fa-linkedin"></a>
                        <a target="_blank" href="https://github.com/ralouekapoor06" class="fa fa-github"></a>
                        <a target="_blank" href="https://www.instagram.com/ralove_kapoor/" class="fa fa-instagram"></a>
                        <a target="_blank" href="https://www.facebook.com/raloue.kapoor" class="fa fa-facebook"></a>
                  </div>

                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>

                  
                  

                  

                  


        </div> 

    </body>

    <footer class="page-footer" style="background-color: #37474f">
            <div class="footer-copyright">
              <div class="container">
            <div class="center" >
              <h6>Made with love by <a href="http://www.ralouekapoor.com">ralouekapoor</a>
              </h6>
            </div>
            </div>
            </div>
        </footer>

        <script>
            var pathEls = document.querySelectorAll('path');
for (var i = 0; i < pathEls.length; i++) {
  var pathEl = pathEls[i];
  var offset = anime.setDashoffset(pathEl);
  pathEl.setAttribute('stroke-dashoffset', offset);
  anime({
    targets: pathEl,
    strokeDashoffset: [offset, 0],
    duration: anime.random(1000, 3000),
    delay: anime.random(0, 2000),
    loop: true,
    direction: 'alternate',
    easing: 'easeInOutSine',
    autoplay: true
  });
}
            </script>


</html>